.add-item {
    max-width: 1200px;
    margin: 30px auto 50px;

}

.add-item__form {

    display: flex;
    justify-content: space-between;
}

.add-item__input {
    width: 60%;
    margin: 0 0 0 10px;
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: rgb(249, 249, 249);
    cursor: pointer;
    border-radius: 10px;
}



.add-item__input:focus {
    outline: rgb(43, 224, 128);
    outline-style: solid;
}


.add-item__submit {
    margin: 0;
    padding: 10px;
    border: inset;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;

}

.add-item__submit:hover {
    opacity: 0.8;
    transition: opacity 0.5s;
}
