.grid-table {
    margin: 30px auto 0;
    max-width: 1200px;
    display: grid;
    grid-gap: 18px 20px;
    grid-template-columns: repeat(3, 1fr);

}

.grid-table__tbody {
    display:contents
}
.grid-table__tr {
    display:contents
}
